body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  /*display: inline-flex;*/
  text-align: center;
}

.bodyClass{
  background-color:  bg-info;
}

.loginform{
  align-content: space-between;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 10px;
}

@supports(object-fit: cover){
  .carrusel{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}